@import url('https://fonts.cdnfonts.com/css/pricedown');
@import url('https://fonts.cdnfonts.com/css/nova');
@font-face {font-family: boxEd;src: url('./fonts/boxedRound.ttf');}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nui .textUI {
    position: fixed;
    transform: translate(-50%, -50%);

}

.textUI.gta {
    width: 100%;
    height: calc(100vh - 82.5%);
    top: 12.5%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0, .625);
    font-family: 'Pricedown Bl', sans-serif;
    font-size: 2.25em;
    color: white;
}

.textUI.default {
    width: calc(100% - 72.5%);
    height: calc(100vh - 87.5%);
    left: 17.5%;
    bottom: 0;
    background-color: rgba(0, 0, 0, .625);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5vw;
    font-family: boxEd;
    color: white;
}

.textUI.foras {
    left: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    font-family: boxEd;
    width: calc(100% - 77.5%);
    height: calc(100vh - 90%);
    border: solid 2px black;
    background-color: rgba(0, 0, 0, .375);
    border-radius: .25vw;
    color: white;
}

.textUI.modernq {
    left: 22.5%;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-family: 'NOVA', sans-serif;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    background-color: rgba(0, 0, 0, .5);
    width: calc(100% - 65%);
    height: calc(100vh - 90%);
    font-size: 1.25em;
    color: white;
    border: solid 2px black;
}

.textUI.textUI.modernq span.input {
    padding: 7.5px 12.5px;
}

.textUI.foras span.input {
    padding: 7.5px 12.5px;
}

.textUI.default span.input {
    padding: 12.5px 17.5px;
}

.textUI.gta span.input {
    padding: 12.5px 32.5px;
}

span.input {
    color: black;
    border-radius: .25vw;
    background-color: white;
}
