@import url('https://fonts.cdnfonts.com/css/pricedown');
@font-face {font-family: boxEd;src: url('./fonts/boxedRound.ttf');}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nui .textUI {
    position: fixed;
    transform: translate(-50%, -50%);

}

.textUI.gta {
    width: 100%;
    height: calc(100vh - 82.5%);
    top: 12.5%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0, .625);
    font-family: 'Pricedown Bl', sans-serif;
    font-size: 2.25em;
    color: white;
}

.textUI.default {
    width: calc(100% - 72.5%);
    height: calc(100vh - 87.5%);
    left: 17.5%;
    bottom: 0;
    background-color: rgba(0, 0, 0, .625);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5vw;
    font-family: boxEd;
    color: white;
}

.textUI.default span.input {
    padding: 12.5px 17.5px;
}

.textUI.gta span.input {
    padding: 12.5px 32.5px;
}

span.input {
    color: black;
    border-radius: .25vw;
    background-color: white;
}